.burger-menu__popup {
   position: absolute;
   z-index: 11;
   top: 0;
   left: -400px;
   // transform: translate(-200%);
   background: #fff;
   font-weight: bold;
   line-height: 24px;
   letter-spacing: -0.2px;
   padding: 19px 24px 32px 24px;
   margin: 0;
   display: flex;
   flex-direction: column;
   width: clamp(320px, 50%, 360px);
   min-height: 100%;
}

.burger-menu__popup--active {
   left: 0;
   transition: linear 0.3s;
}

.burger-menu-header {
   .burger-menu-nav {
      display: flex;
      align-items: center;
      margin-bottom: 50px;
      &__cross-btn {
         margin-right: 16px;
      }
      &__logo {
         margin-right: auto;
      }
   }
}

.burger-menu-main {
   margin-bottom: 240px;
   .burger-menu {
      &__item:not(:last-child) {
         margin-bottom: 32px;
      }
      &__link {
         display: flex;
         align-items: center;
         color: #1b1c21;
         &::before {
            content: "";
            display: flex;
            width: 8px;
            height: 32px;
            background-color: #fff;
            border-radius: 4px;
            margin-left: -28px;
            margin-right: 20px;
         }
         &:focus {
            color: #7e7e82;
            &::before {
               background-color: #41f6d7;
            }
         }
         &:hover {
            color: #7e7e82;
            font-size: 20px;
            transition-duration: 350ms;
         }
      }
   }
}

.burger-menu-footer {
   display: flex;
   flex-direction: column;
   .contacts {
      display: flex;
      &__item {
         &:not(:last-child) {
            margin-right: 16px;
         }
      }
   }
   &__email {
      display: inline-block;
      margin-top: 16px;
      margin-bottom: 12px;
      color: #1b1c21;
   }

   &__tel {
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.6px;
      margin-bottom: 40px;
      color: #1b1c21;
   }

   .lang-list {
      display: flex;
      text-transform: uppercase;
      &__item {
         &:not(:last-child) {
            margin-right: 7px;
         }
      }

      &__btn {
         color: #1b1c21;
         background-color: #fff;
      }

      &__btn--active {
         color: #7e7e82;
      }
   }
}

.btn {
   transition-duration: 1.2s;
   cursor: pointer;
   &:hover {
      transform: scale(1.2);
      filter: hue-rotate(180deg);
   }
}

@media (min-width: 768px) {
   .burger-menu__popup {
      box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
   }
}

@media (min-width: 1440px) {
   .burger-menu__popup {
      transform: inherit;
      position: static;
      flex-basis: 22.2%;
      box-shadow: none;
   }

   .burger-menu-nav__cross-btn {
      display: none;
   }
}
