.title {
   display: flex;
   align-items: center;
   font-size: 28px;
   line-height: 40px;
   letter-spacing: -0.6px;
   &::before {
      content: "";
      display: flex;
      width: 8px;
      height: 40px;
      background-color: #41f6d7;
      border-radius: 4px;
   }
}
